

{% extends "base.html" %}
{% block head %}
    <title> Home </title>
    <style>
        .error {
            font-size: 18px;
            color: #cc0000;
            margin-top: 30px
        }

        td {
            text-align: center;
        }

        th {
            text-align: center;
        }

        .table td th {
            text-align: center;
        }

        .fa-b:before {
            font-family: Arial;
            font-weight: bold;
            content: 'B';
        }
    </style>

{% endblock %}
{% block body %}
    <!-- Main section start -->
    <div style="margin: 0 auto">
        {% if filter %}
            <h2 class="text-center" style="margin-top:50px; font-family: 'Stencil Std',  fantasy" ;>Active Adverts By
                filter</h2>
        {% else %}
            <h2 class="text-center" style="margin-top:50px; font-family: 'Stencil Std',  fantasy" ;>Active Adverts</h2>
        {% endif %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Package</th>
                <th scope="col">Transmission</th>

                <th scope="col">Color</th>
                <th scope="col">Km</th>
                <th scope="col">Year</th>

                <th scope="col">Price</th>
                <th scope="col">Seller</th>

                <th scope="col">Date of advert</th>
            </tr>
            </thead>
            <tbody>
            {% for advert in adverts %}
                <tr>

                    {% for vehicle in vehicles %}
                        {% if advert.vehicle_no == vehicle.vehicle_no %}
                            <td>{{ vehicle.brand_model }}</td>
                            <td>{{ vehicle.package }}</td>
                            <td>{{ vehicle.transmission }}</td>

                            <td>{{ advert.color }}</td>
                            <td>{{ advert.km }}</td>
                            <td>{{ vehicle.year }}</td>


                            <td>{{ advert.seller_price }}</td>
                            {% for Users_info in Users_info %}
                                {% if Users_info.users_id == advert.seller_id %}
                                    <td>{{ Users_info.name }}</td>
                                {% endif %}
                            {% endfor %}

                            <td>{{ advert.ad_date }}</td>

                            <td class="align-middle">
                                <a href="{{ url_for('detailsAdvert',id=advert.ad_no) }}"
                                   class="btn btn-outline-success">Click For Details</a>
                            </td>


                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Main section end -->



{% endblock %}    

