<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }

        body {
            min-height: 100%;
        }

        #content {
            display: flex;
            /*
            justify-content: center;
            align-items: center;
            height: 100%;
             */
            margin-top: 32px;
        }
    </style>
    {% block head %}{% endblock %}

</head>

<body>
<!-- Flash error messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class="error text-center">{{ messages[0] }}</p>
    {% endif %}
{% endwith %}
<!-- Nav bar start -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('newAdvert') }}">
                    <i class="fas fa-plus"></i>
                    New Advert
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('your_adverts') }}">
                    <i class="fas fa-car"></i>
                    Your Adverts
                </a>
            </li>
            {% if filter %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Main Page</a>
                </li>
            {% endif %}
        </ul>

        {#
            <div class="cursor-pointer">
                <!-- Add a new ad -->
                <i class="fas fa-plus"></i>
                <a href="{{ url_for('newAdvert') }}" style="color: #335177"><span>New advert</span></a>

                <!-- User's own ads -->
                <i class="fas fa-car" style="margin-left:10px;"></i>
                <a href="{{ url_for('your_adverts') }}" style="color: #335177"><span>Your adverts</span></a>

                {% if filter %}
                    <i class="fas fa-home" style="margin-left:10px;"></i>
                    <a href="{{ url_for('home') }}" style="color: #335177"><span>Main Page</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                {% endif %}
            </div>
            #}

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <!-- Go to the profile page -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('filter') }}">Filter</a>
                </li>
                <!-- Logout -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Nav bar end -->
<div id="content">
    {% block body %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>


</body>
</html>
