{% extends "base.html" %}
{% block head %}
    <title> detailsAdvert </title>
    <style>
    .error {
        font-size:18px;
        color:#cc0000;
        margin-top:30px
    }

    .bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#8beabe), to(#040fd7);
         background: linear-gradient(to right, #8beabe, #040fd7)
    }
    nav{
         background: -webkit-gradient(linear, left top, right top, from(#8beabe), to(#040fd7);
         background: linear-gradient(to right, #8beabe, #040fd7)
    }
    table {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263)
    }
    td {
    text-align: center;
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263)
    }
    th {
        text-align: center;
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263)
    }

    div {
        padding: 25px 50px 75px 100px;
    }

    .table td th {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263)
        text-align: center;
    }

    </style>

{% endblock %}
{% block body %}
    <!-- Flash error messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class="error text-center">{{ messages[0] }}</p>
    {% endif %}
    {% endwith %}


            <!-- Nav bar start -->
            <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">
                <div class="container-fluid">
                    <div  class="cursor-pointer">
                        <!-- Add a new ad -->
                        <i class="fas fa-plus"></i>
                        <a href="{{ url_for('newAdvert') }}" style="color: #335177"><span>New advert</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- User's own ads -->
                        <i class="fas fa-car" style="margin-left:10px;"></i>
                        <a href="{{ url_for('your_adverts') }}" style="color: #335177"><span>Your adverts</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <!-- Go to the home screen -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('home') }}"><span style="color: #335177">Home</span></a>
                            </li>

                            <!-- Logout -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Nav bar end -->


          <tbody>


            <!-- Main section start -->
            <div style=" background: -webkit-gradient(linear, left top, right top, from(#8beabe), to(#040fd7));
        background: linear-gradient(to right, #8beabe, #040fd7)">
                <table class="table table-hover" style="margin-top:60px; margin-bottom:0px; background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263)" >

                  {%for advert in adverts%}
          <tr>
            {%for vehicle in vehicles%}
              {%if advert.vehicle_no == vehicle.vehicle_no%}
                  <tr>
                    <th scope="col">Model</th>
                    <td>{{vehicle.brand_model}}</td>
                  </tr>
                  <tr>
                    <th scope="col">Package</th>
                    <td>{{vehicle.package}}</td>
                  </tr>
                  <tr>
                    <th scope="col">Transmission</th>
                    <td>{{vehicle.transmission}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Drive-train</th>
                      <td>{{vehicle.drive_train}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Engine Size</th>
                      <td>{{vehicle.engine_size}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Cyclinder Num</th>
                      <td>{{vehicle.num_cylinder}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Power</th>
                      <td>{{vehicle.power}}</td>
                  </tr>


                  <tr>
                      <th scope="col">Color</th>
                      <td>{{advert.color}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Km</th>
                      <td>{{advert.km}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Year</th>
                      <td>{{vehicle.year}}</td>
                  </tr>


                  <tr>
                      <th scope="col">Damage</th>
                      <td>{{advert.damage}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Warranty</th>
                      <td>{{advert.warranty}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Exchange</th>
                      <td>{{advert.exchange}}</td>
                  </tr>

                  <tr>
                       <th scope="col">Seller Price</th>
                      <td>{{advert.seller_price}}</td>
                  </tr>
                  <tr>
                      <th scope="col">Dealer Price</th>
                      <td>{{vehicle.dealer_price}}</td>
                  </tr>

                {%for Users_info in Users_info%}
                    {%if Users_info.users_id == advert.seller_id%}
                        <tr>
                           <th scope="col">Seller name</th>
                          <td>{{Users_info.name}}-{{Users_info.surname}}</td>
                        </tr>
                        <tr>
                          <th scope="col">Phone</th>
                          <td>{{Users_info.phone}}</td>
                        </tr>
                    {%endif%}
                {%endfor%}
                <tr>
                  <th scope="col">Date of advert</th>
                  <td>{{advert.ad_date}}</td>
                </tr>
                <td class="align-left">
                   <a href="{{ url_for('sellers_adverts',id=advert.seller_id) }}" class="btn btn-info" >Seller's other adverts</a>
                </td>
              {%endif%}
            {%endfor%}
          </tr>
      {%endfor%}
                </table>
            </div>
            <!-- Main section end -->

        <!-- Get username
        <span id="get-username">{{ username }}</span>
        -->


{% endblock %}


