{% extends "base.html" %}
{% block head %}
    <title> detailsAdvert </title>
{% endblock %}
{% block body %}
          <tbody>
            <!-- Main section start -->
            <div style="margin: 0 auto">
                <table class="table table-hover" style="margin: 0 auto;" >

        {%for advert in adverts%}
          <tr>
                {%for vehicle in vehicles%}
                    {%if advert.vehicle_no == vehicle.vehicle_no%}
                        <tr>
                            <th scope="col">Model</th>
                            <td>{{vehicle.brand_model}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Package</th>
                            <td>{{vehicle.package}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Transmission</th>
                            <td>{{vehicle.transmission}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Drive-Train</th>
                            <td>{{vehicle.drive_train}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Engine Size</th>
                            <td>{{vehicle.engine_size}} cc</td>
                        </tr>
                        <tr>
                            <th scope="col">Cyclinder Number</th>
                            <td>{{vehicle.num_cylinder}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Power</th>
                            <td>{{vehicle.power}} hp</td>
                        </tr>


                        <tr>
                            <th scope="col">Color</th>
                            <td>{{advert.color}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Km</th>
                            <td>{{advert.km}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Year</th>
                            <td>{{vehicle.year}}</td>
                        </tr>


                        <tr>
                            <th scope="col">Damage</th>
                            <td>{{advert.damage}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Warranty</th>
                            <td>{{advert.warranty}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Exchange</th>
                            <td>{{advert.exchange}}</td>
                        </tr>

                        <tr>
                            <th scope="col">Seller Price</th>
                            <td>{{advert.seller_price}} TL</td>
                        </tr>
                        <tr>
                            <th scope="col">Dealer Price</th>
                            <td>{{vehicle.dealer_price}} TL</td>
                        </tr>
                        <tr>
                            {% set average = [] %}
                            {% for outAdvert in allAdverts %}
                                {% if outAdvert.vehicle_no == vehicle.vehicle_no %}
                                    {% if average.append(outAdvert) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                            <th scope="col">Average Price</th>
                            <td>{{ averagePrice }} TL</td>
                        </tr>

                    {%for Users_info in Users_info%}
                        {%if Users_info.users_id == advert.seller_id%}
                            <tr>
                            <th scope="col">Seller name</th>
                            <td>{{Users_info.name}}-{{Users_info.surname}}</td>
                            </tr>
                            <tr>
                            <th scope="col">Phone</th>
                            <td>{{Users_info.phone}}</td>
                            </tr>
                        {%endif%}
                    {%endfor%}
                <tr>
                  <th scope="col">Date of advert</th>
                  <td>{{advert.ad_date}}</td>
                </tr>
                <td class="align-left">
                   <a href="{{ url_for('sellers_adverts',id=advert.seller_id) }}" class="btn btn-info" >Seller's other adverts</a>
                </td>
              {%endif%}
            {%endfor%}
          </tr>
        {%endfor%}
                </table>
            </div>
            <!-- Main section end -->
{% endblock %}


