{% extends "base.html" %}

{% block head %}
<style>
  .error {
    font-size:18px;
    color:#cc0000;
    margin-top:30px
  }
  .form-group {
    margin-bottom: 10px;
  }
  .advert-form {
    width: 500px;
    margin: 8px auto;
    font-size: 15px;
  }
  .advert-form form {
    margin-bottom: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  .advert-form h2 {
    margin: 0 0 5 5px;
  }

  body{
    background: #f7f7f7;
  }
</style>
{%endblock%}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  $("#model_brand").val("{{vehicle.model_brand}}").change();
</script>
<div class="advert text-center"> </div>
<div class="advert-form">
  <form action = "" method = "post" class="form-signin" style="margin-top:50px">
    <h2 class="text-center">Update Vehicle</h2>
<div class="form-group">
            <select class="form-control" id ="model_brand" name="brand_model"  required="required" >
                <option disabled selected value="" >Select a brand and model</option>
                {% for brand in brands %}
                    <optgroup label="{{brand}}">
                        {% for model in models %}
                            {%if model.brand_model.split("-")[0] == brand %}
                                <option >{{ model.brand_model }}</option>
                            {%endif%}
                        {%endfor%}         
                    </optgroup>
                {% endfor %}      
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="transmission"  required="required"  >
                <option disabled selected value="">Transmission</option>
                <option >Manual</option>
                <option >Automatic</option>
            </select>
        </div>

        <div class="form-group">
            <label style="font-size:15px;"> Engine Size </label>
            <input type="text" class="form-control" name="engine_size" placeholder="Engine Size" required="required" value="{{vehicle.engine_size}}">
        </div>
        <div class="form-group">
            <label style="font-size:15px;"> Package </label>
            <input type="text" class="form-control" name="package" placeholder="Package" required="required" value="{{vehicle.package}}">
        </div>
        <div class="form-group">
            <select class="form-control" name="drive_train"  required="required"  >
                <option disabled selected value="">Select drivetrain</option>
                <option >4x4</option>
                <option value="front wheel">Front wheel</option>
                <option value="rear wheel">Rear wheel</option>
            </select>
        </div>

        <div class="form-group">
            <label style="font-size:15px;"> Cylinder </label>
            <input type="text" class="form-control" name="num_cylinder" placeholder="Cylinder" required="required" value="{{vehicle.num_cylinder}}">
        </div>
        <div class="form-group">
            <label style="font-size:15px;"> Power </label>
            <input type="text" class="form-control" name="power" placeholder="Power" required="required" value="{{vehicle.power}}">
        </div>
        <div class="form-group">
            <label style="font-size:15px;"> Dealer Price </label>
            <input type="text" class="form-control" name="dealer_price" placeholder="Dealer Price" required="required" value="{{vehicle.dealer_price}}">
        </div>

        <div class="form-group">
            <select class="form-control" name="type"  required >
                <option disabled selected value="">Type</option>
                <option value="automobile">Automobile</option>
                <option value="motorcycle">Motorcycle</option>
                <option value="truck">Truck</option>
            </select>
        </div>

        <div class="form-group">
          <label style="font-size:15px;"> Year </label>
          <div>
              <select name="year" id="yearpicker"></select>
              <script type="text/javascript"
                      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
              </script>
              <script type="text/javascript">
              let startYear = 1900;
              let endYear = new Date().getFullYear();
              for (i = endYear; i > startYear; i--)
              {
              $('#yearpicker').append($('<option />').val(i).html(i));
              }
              </script>
          </div>
      </div>

    <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block">Update</button>
</div>


</form>

</div>

{%endblock%}
