<!--Update and delete buttons will be added-->
{% extends "base.html" %}
{% block head %}
<style>
    .error {
        font-size:18px;
        color:#cc0000; 
        margin-top:30px
    }
    .form-group {
        margin-bottom: 10px;
    }
    .filter-form {
        width: 500px;
        margin: 8px auto;
        font-size: 15px;
    }
    .filter-form form {
        margin-bottom: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        padding: 20px;
    }
    .filter-form h2 {
        margin: 0 0 5px 5px;
    }
    </style>
    
{% endblock %}
{% block body %}
            <!-- Main section start -->
            <div class="filter-form">
                <h2 class="text-center">Filter</h2>
                <form action = "" method = "post" class="form-signin">
                    <div class="form-group">
                        <select class="form-control" name="brand_model"  required="required" >
                            <option disabled selected value="">Select a brand and model</option>
                            {% for model in models %}
                                <option >{{ model.brand_model }}</option> 
                            {% endfor %}        
                        </select>
                    </div>


                    <label style="font-size:15px;"> Price </label>
                    <div class="row">
                        
                        <div class="col">
                          <input type="text" class="form-control" name="min_price" placeholder="Min Price">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="max_price" placeholder="Max Price">
                        </div>
                    </div>
                    <label style="font-size:15px;"> Year </label>
                    <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" name="min_year" placeholder="Min Year">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="max_year" placeholder="Max Year">
                        </div>
                    </div>

                    <label style="font-size:15px;"> KM </label>
                    <div class="row">

                        <div class="col">
                          <input type="text" class="form-control" name="min_km" placeholder="Min Km">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="max_km" placeholder="Max Km">
                        </div>
                    </div>
                       
                    <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;">Filter</button>
                </form>
            </div>
            <!-- Main section end -->


        
{% endblock %}    


