<!--Update and delete buttons will be added-->
{% extends "base.html" %}
{% block head %}   
<style>
    .error {
        font-size:18px;
        color:#cc0000; 
        margin-top:30px
    }
    .form-group {
        margin-bottom: 10px;
    }
    .filter-form {
        width: 500px;
        margin: 8px auto;
        font-size: 15px;
    }
    .filter-form form {
        margin-bottom: 10px;
        background: #ffffff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 20px;
    }
    .filter-form h2 {
        margin: 0 0 5 5px;
    }
    
    body{
        background: #f7f7f7;
    }
    </style>
    
{% endblock %}
{% block body %}
    <!-- Flash error messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class="error text-center">{{ messages[0] }}</p>
    {% endif %}
    {% endwith %}
            <!-- Nav bar start -->
            <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">
                <div class="container-fluid">
                    <div  class="cursor-pointer">
                    
                        </button>
                        <i class="fas fa-home" style="margin-left:10px;"></i>
                        <a href="{{url_for('home')}}" style="color: #335177"><span>Main Page</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        
                        

                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <!-- Go to the profile page -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('profile') }}"><span style="color: #335177">Profile</span></a>
                            </li>
                            
                            <!-- Logout -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Nav bar end -->

            <!-- Main section start -->
            <div class="filter-form">
                <h2 class="text-center">Filter</h2>
                <form action = "" method = "post" class="form-signin" style="margin-top:100px">
                    <div class="form-group">       
                        <select class="form-control" name="brand_model"  required="required" >
                            <option disabled selected value="">Select a brand and model</option>
                            {% for model in models %}
                                <option >{{ model.brand_model }}</option> 
                            {% endfor %}        
                        </select>
                    </div>


                    <label style="font-size:15px;"> Price </label>
                    <div class="row">
                        
                        <div class="col">
                          <input type="text" class="form-control" name="min_price" placeholder="Min Price">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="max_price" placeholder="Max Price">
                        </div>
                    </div>
                    <label style="font-size:15px;"> Year </label>
                    <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" name="min_year" placeholder="Min Year">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="max_year" placeholder="Max Year">
                        </div>
                    </div>
                       
                    <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block">Filter</button>
                </form>
            </div>
            <!-- Main section end -->


        
{% endblock %}    

