{% extends "base.html" %}
{% block head %}   
    <title> Home </title>
    <style>
        .error {
        font-size:18px;
        color:#cc0000; 
        margin-top:30px
    }
    td {
    text-align: center;
    }
    th {
    text-align: center;
    }

    .table td th {
    text-align: center;
    }
    </style>
    
{% endblock %}
{% block body %}
    <!-- Flash error messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class="error text-center">{{ messages[0] }}</p>
    {% endif %}
    {% endwith %}
            <!-- Nav bar start -->
            <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">
                <div class="container-fluid">
                    <div  class="cursor-pointer">
                        <!-- Add a new ad -->
                        <i class="fas fa-plus"></i>
                        <a href="#" style="color: #335177"><span>New advert</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- User's own ads -->
                        <i class="fas fa-car" style="margin-left:10px;"></i>
                        <a href="{{ url_for('your_adverts') }}" style="color: #335177"><span>Your adverts</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <!-- Go to the profile page -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('profile') }}"><span style="color: #335177">Profile</span></a>
                            </li>
                            
                            <!-- Logout -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Nav bar end -->

            <!-- Main section start -->
            <div >
              <h2 class="text-center" style="margin-top:50px; font-family: 'Stencil Std',  fantasy";>Active Adverts</h2>
                <table class="table table-hover" >
                  <thead>
                    <tr>
                      <th scope="col">Model</th>
                      <th scope="col">Transmission</th>
                      <th scope="col">Package</th>
                      <th scope="col">Color</th>
                      <th scope="col">Km</th>
                      <th scope="col">Pre-owned</th>
                      <th scope="col">Price</th>
                      <th scope="col">Seller</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for advert in adverts%}
                      <tr>

                          {%for vehicle in vehicles%}
                            {%if advert.brand_model_no == vehicle.vehicle_no%}
                              <td>{{vehicle.model_brand}}</td>
                            {%endif%}
                          {%endfor%}

                          {%for vehicle in vehicles%}
                            {%if advert.brand_model_no == vehicle.vehicle_no%}
                              <td>{{vehicle.transmission}}</td>
                            {%endif%}
                          {%endfor%}

                          {%for vehicle in vehicles%}
                            {%if advert.brand_model_no == vehicle.vehicle_no%}
                              <td>{{vehicle.package}}</td>
                            {%endif%}
                          {%endfor%}

                          <td>{{advert.color}}</td>
                          <td>{{advert.km}}</td>
                          <td>{{advert.second_hand}}</td>
                          <td>{{advert.seller_price}}</td>

                          {%for Users_info in Users_info%}
                            {%if Users_info.users_id == advert.seller_id%}
                              <td>{{Users_info.name}}</td>
                            {%endif%}
                          {%endfor%}

                          <td class="align-middle">
                            <a href="{{ url_for('detailsAdvert',id=advert.ad_no) }}" class="btn btn-outline-success" >Click For Details</a>
                          </td>
                      </tr>
                  {%endfor%}
                  </tbody>
                </table>

            </div>
            <!-- Main section end -->

        <!-- Get username 
        <span id="get-username">{{ username }}</span>
        -->

        
{% endblock %}    

