{% extends "base.html" %}

{% block head %} 
<style>
.error {
    font-size:18px;
    color:#cc0000; 
    margin-top:30px
}
.form-group {
    margin-bottom: 10px;
}
.advert-form {
    width: 500px;
    margin: 8px auto;
    font-size: 15px;
}
.advert-form form {
    margin-bottom: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.advert-form h2 {
    margin: 0 0 5 5px;
}

body{
    background: #f7f7f7;
}
</style>
{%endblock%}

{% block body %}

<div class="advert text-center"> </div>
<div class="advert-form">
    <form action = "" method = "post" class="form-signin" style="margin-top:100px">
        <h2 class="text-center">Add new Brand</h2>       
        <div class="form-group">
            <input type="text" class="form-control" name="brand_name" placeholder="Brand name " required="required" autofocus  >
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="model_name" placeholder="Model name" required="required" >
        </div>
           
                <button type="submit" name="submit" class="btn btn-lg btn-primary btn-block">Add</button>
            </div>
        
            
    </form>
    
</div>

{%endblock%}

