{% extends "base.html" %}
{% block head %}
    <title> Profile </title>
    <style>
        .error {
        font-size:18px;
        color:#cc0000;
        margin-top:30px
    }
    td {
    text-align: center;
    }
    th {
    text-align: center;
    }

    .table td th {
    text-align: center;
    }
    </style>

{% endblock %}
{% block body %}
    <!-- Flash error messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class="error text-center">{{ messages[0] }}</p>
    {% endif %}
    {% endwith %}
            <!-- Nav bar start -->
            <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">
                <div class="container-fluid">
                    <div  class="cursor-pointer">
                        <!-- Add a new ad -->
                        <i class="fas fa-plus"></i>
                        <a href="#" style="color: #335177"><span>New advert</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- User's own ads -->
                        <i class="fas fa-car" style="margin-left:10px;"></i>
                        <a href="{{ url_for('your_adverts') }}" style="color: #335177"><span>Your adverts</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <!-- Go to the home screen -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('home') }}"><span style="color: #335177">Home</span></a>
                            </li>

                            <!-- Logout -->
                            <li class="nav-item">
                                <a  class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Nav bar end -->

            <!-- Main section start -->
            <div >
                <table class="table table-hover" style="margin-top:50px;">
                    <thead>
                    <tr>
                      <th scope="col">User ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Surname</th>
                      <th scope="col">city</th>
                      <th scope="col">District</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Mail</th>
                      <th scope="col">Score</th>
                      <th scope="col">username</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for Users_info in Users_info%}
                      <tr>
                          <th scope="row">{{Users_info.users_id}}</th>
                          <td>{{Users_info.name}}</td>
                          <td>{{Users_info.surname}}</td>
                          <td>{{Users_info.city}}</td>
                          <td>{{Users_info.district}}</td>
                          <td>{{Users_info.phone}}</td>
                          <td>{{Users_info.mail}}</td>
                          <td>{{Users_info.score}}</td>
                          <td>{{Users_info.username}}</td>
                          <td class="text-right">
                              <a href="{{url_for('editProfile', id=Users_info.users_id)}}" class="btn btn-outline-success" style="width:100px;" >Edit</a>
                          </td>
                      </tr>
                  {%endfor%}
                  </tbody>
                  </table>

            </div>
            <!-- Main section end -->

        <!-- Get username
        <span id="get-username">{{ username }}</span>
        -->


{% endblock %}
