{% extends "base.html" %}
{% block head %}
    <title> Profile </title>
    <style>     
        .table td th {           
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <tbody>
    <!-- Main section start -->
    <div style="margin: 0 auto;">
        <table class="table table-hover">
            {% for Users_info in Users_info %}
                <tr>
                    <th scope="col">Name</th>
                    <td>{{ Users_info.name }}</td>
                </tr>
                <tr>
                    <th scope="col">Surname</th>
                    <td>{{ Users_info.surname }}</td>
                </tr>
                <tr>
                    <th scope="col">City</th>
                    <td>{{ Users_info.city }}</td>
                </tr>
                <tr>
                    <th scope="col">District</th>
                    <td>{{ Users_info.district }}</td>
                </tr>
                <tr>
                    <th scope="col">Phone</th>
                    <td>{{ Users_info.phone }}</td>
                </tr>
                <tr>
                    <th scope="col">Mail</th>
                    <td>{{ Users_info.mail }}</td>
                </tr>
                <tr>
                    <a href="{{ url_for('editProfile', id=Users_info.users_id) }}" class="btn btn-outline-warning"
                       style="margin-left:600px; width:100px;">Edit</a>
                </tr>
            {% endfor %}
        </table>
    </div>
    <!-- Main section end -->
{% endblock %}
